header
  padding 4px 0 10px
  border-bottom 1px solid #555
  background rgba(black, 50%) linear-gradient(to top, rgba(black, 50%) 0px, transparent 10px)
  color #999
  text-shadow 0 0 5px black
  @media (max-width: 768px)
    text-align center

.branding
  float left
  @media (max-width: 768px)
    float none

a.logo
  display inline-block
  width 267px
  height 71px
  margin-left -8px
  background url('../images/logo.png')
  color transparent
  text-shadow none

h1
  margin 0
  font-weight normal
  text-transform uppercase
  font-size 18px

.menu
  padding 0
  margin 12px 0 0
  list-style none
  float right
  @media (max-width: 768px)
    float none
    display table
    width 100%
    border-top 1px solid black

.menu-item
  margin-left 50px
  float left
  @media (max-width: 768px)
    margin 0
    float none
    display table-cell
    border-top 1px solid #333
    padding-top 10px

a.menu-link
  display inline-block
  text-align center
  &:link
  &:visited
    color #999
  &:hover
    color #CCC
    text-decoration none

.menu-icon
  display block
  font-size 48px
  line-height 52px
  @media (max-width: 768px)
    font-size 24px
    line-height 26px

