::-webkit-scrollbar
  width 10px
  height 10px

::-webkit-scrollbar-track
  background-color #444
  box-shadow 0 0 6px black inset

::-webkit-scrollbar-thumb
  border-radius 5px
  background-color #222
  box-shadow 0 0 1px black inset

::-webkit-scrollbar-thumb:hover
  background-color #111
  box-shadow 0 0 2px black inset
